// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.drop {
  border-radius: 5px;
  height: 183px;
  padding: 10px;
}

.ondrag-enter {
  border: 2px dashed green;
  background-color: #c8f0c9;
}

.ondrag-leave {
  border: 1px solid lightgrey;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 75%;
}

.card-text {
  text-align: justify;
}

.card-title {
  color: #008f83;
}