<template>
  <div>
    <div class="buscar">
      <input type="search" class="form-control" placeholder="Buscar" v-model="buscar" />
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th
            style="cursor:pointer"
            v-on:click="ordenaColuna(index)"
            v-for="(titulo,index) in titulos"
            :key="index"
          >{{titulo}}</th>

          <th v-if="detalhe || editar || deletar">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in lista" :key="index">
          <td v-for="(i, indexi) in item" :key="indexi">{{i | formataData}}</td>
          <td>
            <form
              v-bind:id="index"
              v-if="deletar && token"
              v-bind:action="deletar + item.id"
              method="post"
            >
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="_token" v-bind:value="token" />

              <!-- EDITAR -->
              <a href data-toggle="modal" v-bind:data-target="'#Editar'+index">Editar |</a>
              <modal v-bind:nome="'Editar'+index" titulo="Alerta">
                Deseja realmente atualizar o cadastro do Paciente
                <b>{{item.nome}}</b>?
                <span slot="botoes">
                  <a v-if="editar && !modal" v-bind:href="editar">Editar |</a>
                  <modallink
                    v-if="editar && modal"
                    tipo="button"
                    v-bind:item="item"
                    v-bind:url="editar"
                    acao="editar"
                    nome="editar"
                    titulo="Sim"
                    css
                  ></modallink>
                  <button data-dismiss="modal" class="btn btn-danger">Não</button>
                </span>
              </modal>

              <!-- DELETAR -->
              <a href data-toggle="modal" v-bind:data-target="'#Deletar'+index">Excluir</a>
              <modal v-bind:nome="'Deletar'+index" titulo="Alerta">
                Deseja realmente excluir o cadastro do Paciente
                <b>{{item.nome}}</b>?
                <span slot="botoes">
                  <button href="#" v-on:click="executaForm(index)" class="btn btn-success">Sim</button>
                  <button data-dismiss="modal" class="btn btn-danger">Não</button>
                </span>
              </modal>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  mounted: function mounted() {
    console.log("Component mounted.");
  },
  props: [
    "titulos",
    "itens",
    "ordem",
    "ordemcol",
    "criar",
    "detalhe",
    "editar",
    "deletar",
    "token",
    "modal"
  ],
  data: function() {
    return {
      buscar: "",
      ordemAux: this.ordem || "asc",
      ordemAuxCol: this.ordemcol || 0
    };
  },
  methods: {
    executaForm: function(index) {
      document.getElementById(index).submit();
    },
    ordenaColuna: function(coluna) {
      this.ordemAuxCol = coluna;
      if (this.ordemAux.toLowerCase() == "asc") {
        this.ordemAux = "desc";
      } else {
        this.ordemAux = "asc";
      }
    },
    editarPaciente: function(item) {
      console.log(item);
      axios.get("paciente/" + item.id).then(res => {
        this.$store.commit("setItem", res.data);
        $("#Editar").modal("hide");
      });
    }
  },
  filters: {
    formataData: function(valor) {
      if (!valor) return "";
      valor = valor.toString();
      if (valor.split("-").length == 3) {
        valor = valor.split("-");
        return valor[2] + "/" + valor[1] + "/" + valor[0];
      }

      return valor;
    }
  },
  computed: {
    lista: function() {
      let lista = this.itens.data;
      let ordem = this.ordemAux;
      let ordemCol = this.ordemAuxCol;
      ordem = ordem.toLowerCase();
      ordemCol = parseInt(ordemCol);

      if (ordem == "asc") {
        lista.sort(function(a, b) {
          if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol]) {
            return 1;
          }
          if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol]) {
            return -1;
          }
          return 0;
        });
      } else {
        lista.sort(function(a, b) {
          if (Object.values(a)[ordemCol] < Object.values(b)[ordemCol]) {
            return 1;
          }
          if (Object.values(a)[ordemCol] > Object.values(b)[ordemCol]) {
            return -1;
          }
          return 0;
        });
      }
      if (this.buscar && this.buscar.length > 3) {
        return lista.filter(res => {
          res = Object.values(res);
          for (let k = 0; k < res.length; k++) {
            if (
              (res[k] + "").toLowerCase().indexOf(this.buscar.toLowerCase()) >=
              0
            ) {
              return true;
            }
          }
          return false;
        });
      }

      return lista;
    }
  }
};
</script>

<style >
.buscar {
  float: right;
  display: flex;
  margin: 10px;
}
</style>